:root {
  --font-size-xl: 2.5rem; /*24px*/
  --font-size-m: 1.5rem; /*24px*/
  --font-size-base: 1rem; /*16px*/
  --font-size-s: 0.75rem; /*12px*/
  --font-size-xs: 0.5rem; /*8px*/

  --line-height-xl: 2.5rem; /*24px*/

  --line-height-m: 1.5rem; /*24px*/
  --line-height-base: 1rem; /*16px*/
  --line-height-s: 0.75rem; /*12px*/
  --line-height-xs: 0.5rem; /*8px*/

  --color-neutral-0: #ffffff;
  --color-neutral-1: #f8f9fa;
  --color-neutral-2: #f1f3f5;
  --color-neutral-3: #e9ecef;
  --color-neutral-4: #dee2e6;
  --color-neutral-5: #ced4da;
  --color-neutral-6: #adb5bd;
  --color-neutral-7: #6a7178;
  --color-neutral-8: #4f575e;
  --color-neutral-9: #272b30;
  --color-neutral-10: #101213;

  --color-primary-140: #fca311;
  --color-primary-120: #e38e03;
  --color-primary: #fca311;
  --color-primary-80: #fdbb4f;
  --color-primary-60: #fdce81;
  --color-primary-40: #fee2b3;
  --color-primary-20: #fff5e6;

  --color-secondary: #14213d;

  --background-color: var(--color-primary-20);

  --space-xs: 0.25rem; /*4px*/
  --space-s: 0.5rem; /*8px*/
  --space-base: 1rem; /*16px*/
  --space-m: 1.5rem; /*24px*/
  --space-l: 2rem; /*32px*/
  --space-xl: 3rem; /*48px*/

  --border-radius-s: 0.5rem;

  --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --card-title-shadow: rgba(0, 0, 0, 0.1) 0px -3px 12px;
  --card-innershadow: inset 0 0 8px var(--color-neutral-4);
}

@font-face {
  font-family: "Rubik"; /*Can be any text*/
  src: local("Rubik-Light"), url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Rubik"; /*Can be any text*/
  src: local("Rubik-Regular"),
    url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik"; /*Can be any text*/
  src: local("Rubik-SemiBold"),
    url("./fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Rubik"; /*Can be any text*/
  src: local("Rubik-Bold"), url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 900;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-secondary);
  background-color: var(--background-color);
  font-weight: 400;
}

.h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.h3 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 900;
}

.font-bold {
  font-weight: 900;
}

.color-primary {
  color: var(--color-primary);
}

.layout {
  display: grid;
  gap: var(--space-xl);
  grid-template-rows: 40px max-content max-content max-content;
  padding: var(--space-base);
  height: 97dvh;
}

.nav {
  display: flex;
  column-gap: var(--space-l);
  align-items: center;
}

.button {
  background-color: var(--color-neutral-0);
  color: var(--color-primary);
  padding: var(--space-s);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-s);
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
}
.button:disabled {
  background-color: var(--color-primary-40);
  color: var(--color-neutral-0);
  border: 0;
}

.button.selected {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}

.button.big {
  padding: 8px;
  line-height: var(--font-size-m);
  font-size: var(--font-size-m);
  height: 120px;
  width: 120px;
}
.button.small {
  line-height: var(--font-size-base);
  font-size: var(--font-size-s);
  height: 40px;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}

/* Label*/

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-base);
  color: var(--color-neutral-7);
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: var(--font-size-base);
  padding: var(--space-l);
  color: var(--color-neutral-8);
}

.card {
  position: relative;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-primary-60);
  border-radius: 0 var(--border-radius-s) var(--border-radius-s)
    var(--border-radius-s);
  padding: var(--space-s);
  box-shadow: var(--card-shadow);
  flex: 1;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card-title {
  position: absolute;
  top: -24px;
  left: -1px;
  border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
  font-size: var(--font-size-s);
  line-height: var(--line-height-base);
  font-weight: bold;
  background-color: var(--color-neutral-0);
  padding: var(--space-xs) var(--space-base);
  box-shadow: var(--card-title-shadow);
  border: 1px solid var(--color-primary-60);
  border-bottom: 0px;
}
.card-view {
  min-height: 52px;
  height: max-content;
  max-height: 200px;
  overflow: auto;
}

.card.main {
  position: relative;
  border-radius: var(--border-radius-s);
  padding: var(--space-base);
  box-shadow: var(--card-innershadow);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card.main .card-view {
  min-height: unset;
  max-height: unset;
  overflow: hidden;
}

.card .content {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-s) var(--space-xs);
  font-size: var(--font-size-s);
  line-height: var(--line-height-base);
  background-color: var(--color-neutral-0);
  transition: all 0.3s ease-in;
  border-bottom: 1px solid var(--color-primary-40);
}

.card .content.selected {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}

.icon-container {
  width: 24px;
  height: 24px;
}

.card .travel-option {
  display: flex;
  gap: var(--space-base);
  align-items: center;
  background-color: var(--color-primary-20);
  color: var(--color-neutral-8);
  transition: all 0.3s ease-in;
  padding: var(--space-s) var(--space-base);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-s);
}
.card .travel-option:hover {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}
.card .travel-option.selected {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}

.card .travel-option .title {
  color: var(--color-primary-60);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}
.card .travel-option .details {
  display: flex;
  justify-content: space-around;
}

.card .default-detail {
  display: flex;
  gap: var(--space-base);
  align-items: center;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-8);
  transition: all 0.3s ease-in;
  padding: var(--space-xs) 0;
  border-bottom: 1px solid var(--color-primary-40);
}
.card .default-detail:last-child {
  border-bottom: 0;
}

.card .default-detail .details {
  display: flex;
  font-size: var(--font-size-s);
  line-height: var(--line-height-base);
  font-weight: 600;
}
.card .default-detail .details div:first-child {
  max-width: 50px;
}
.card .default-detail .details div {
  flex: 1;
}
.card .default-detail .details div:last-child {
  max-width: 50px;
}
.card .default-detail .label {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);
}

.form-destination {
  background-color: var(--color-primary-140);
  display: flex;
  height: max-content;
  padding: var(--space-base);
  border-radius: var(--border-radius-s);
  font-size: 16px;
}

.button-container {
  align-self: center;
  text-align: center;
  flex: 1;
}

/*

INPUT

*/
input {
  background-color: transparent;
  color: var(--color-neutral-0);
  border: 0;
  font-weight: bold;
  padding: var(--space-s);
  transition: all 0.18s ease-in;
  flex: 1;
}
input:focus-visible {
  background-color: var(--color-primary-40);
  border: 0;
  color: var(--color-neutral-8);
  outline: 0;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.85;
  color: var(--color-neutral-0);
}

.input-container {
  position: relative;
  display: flex;
}
.input-container .clear-button {
  position: absolute;
  right: var(--space-xs);
  top: -var(--space-xs);
}
/*
  Flex 
*/
.display-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-align-items-center {
  align-items: center;
}
.flex-justify-content-center {
  justify-content: center;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex-align-self-center {
  align-self: center;
}
.flex-align-self-baseline {
  align-self: baseline;
}
.flex-align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.gap-base {
  gap: var(--space-base);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
  Container 
  */
.container-fullheight {
  height: calc(50cqmin - 32px);
}

/* Text Alignment */
.text-align-center {
  text-align: center;
}

/* Margins */
.margin-none {
  margin: var(--space-none);
}
.margin-top-none {
  margin-top: var(--space-none);
}
.margin-right-none {
  margin-right: var(--space-none);
}
.margin-bottom-none {
  margin-bottom: var(--space-none);
}
.margin-left-none {
  margin-left: var(--space-none);
}
.margin-x-none {
  margin-left: var(--space-none);
  margin-right: var(--space-none);
}
.margin-y-none {
  margin-bottom: var(--space-none);
  margin-top: var(--space-none);
}
.margin-xs {
  margin: var(--space-xs);
}
.margin-top-xs {
  margin-top: var(--space-xs);
}
.margin-right-xs {
  margin-right: var(--space-xs);
}
.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}
.margin-left-xs {
  margin-left: var(--space-xs);
}
.margin-x-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}
.margin-y-xs {
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}
.margin-s {
  margin: var(--space-s);
}
.margin-top-s {
  margin-top: var(--space-s);
}
.margin-right-s {
  margin-right: var(--space-s);
}
.margin-bottom-s {
  margin-bottom: var(--space-s);
}
.margin-left-s {
  margin-left: var(--space-s);
}
.margin-x-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}
.margin-y-s {
  margin-bottom: var(--space-s);
  margin-top: var(--space-s);
}
.margin-base {
  margin: var(--space-base);
}
.margin-top-base {
  margin-top: var(--space-base);
}
.margin-right-base {
  margin-right: var(--space-base);
}
.margin-bottom-base {
  margin-bottom: var(--space-base);
}
.margin-left-base {
  margin-left: var(--space-base);
}
.margin-x-base {
  margin-left: var(--space-base);
  margin-right: var(--space-base);
}
.margin-y-base {
  margin-bottom: var(--space-base);
  margin-top: var(--space-base);
}
.margin-m {
  margin: var(--space-m);
}
.margin-top-m {
  margin-top: var(--space-m);
}
.margin-right-m {
  margin-right: var(--space-m);
}
.margin-bottom-m {
  margin-bottom: var(--space-m);
}
.margin-left-m {
  margin-left: var(--space-m);
}
.margin-x-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}
.margin-y-m {
  margin-bottom: var(--space-m);
  margin-top: var(--space-m);
}
.margin-l {
  margin: var(--space-l);
}
.margin-top-l {
  margin-top: var(--space-l);
}
.margin-right-l {
  margin-right: var(--space-l);
}
.margin-bottom-l {
  margin-bottom: var(--space-l);
}
.margin-left-l {
  margin-left: var(--space-l);
}
.margin-x-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}
.margin-y-l {
  margin-bottom: var(--space-l);
  margin-top: var(--space-l);
}
.margin-xl {
  margin: var(--space-xl);
}
.margin-top-xl {
  margin-top: var(--space-xl);
}
.margin-right-xl {
  margin-right: var(--space-xl);
}
.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}
.margin-left-xl {
  margin-left: var(--space-xl);
}
.margin-x-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}
.margin-y-xl {
  margin-bottom: var(--space-xl);
  margin-top: var(--space-xl);
}
.margin-xxl {
  margin: var(--space-xxl);
}
.margin-top-xxl {
  margin-top: var(--space-xxl);
}
.margin-right-xxl {
  margin-right: var(--space-xxl);
}
.margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
}
.margin-left-xxl {
  margin-left: var(--space-xxl);
}
.margin-x-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}
.margin-y-xxl {
  margin-bottom: var(--space-xxl);
  margin-top: var(--space-xxl);
}
.margin-auto {
  margin: 0 auto;
}
